<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Capstone Automation Suite">
<listeners>
    <listener class-name="listeners.TestListener"/>
</listeners>

    <test name="GUI Elements Test">
        <classes>
            <class name="testcases.GuiElementsTest"/>
        </classes>
    </test>

    <test name="ParaBank Registration Test">
        <classes>
            <class name="testcases.ParaBankRegistrationTest"/>
        </classes>
    </test>

    <test name="BlazeDemo Flight Booking Test">
        <classes>
            <class name="testcases.BlazeDemoTest"/>
        </classes>
    </test>

</suite>